body{
    font-family: 'Cabin', sans-serif;
}

.navbar-link{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.nav-action-btn{
    background-color: white;
    border: none;
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.log-in{
    margin: auto;
    padding: 25px 5px;
    margin-top: 150px;
    /* background-color: rgb(239, 239, 239); */
    width: 500px;
    height: 400px;
}
.desktop-button{
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 20px;
}
