body{
    font-family: 'Cabin', sans-serif;
}
.navbar{
    height: 70px;
    width: 100%;
}
.navbar-link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 34px 10px !important;
    
}

.nav-action-btn{
    background-color: white;
    border: none;
    width: 80px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    /* line-height: 20px; */
    /* margin: 20px 10px; */
}
.log-in{
    margin: auto;
    padding: 25px 5px;
    margin-top: 150px;
    /* background-color: rgb(239, 239, 239); */
    width: 500px;
    height: 400px;
}
.desktop-button{
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 20px;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0 !important;
}