body{
    font-family: 'Cabin', sans-serif;
}
.navbar{
    height: 70px;
    width: 100%;
}
.navbar-link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 34px 10px !important;
}
.nav-action-btn{
    background-color: white;
    border: none;
    width: 80px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    /* line-height: 20px; */
    /* margin: 20px 10px; */
}
.footer{
	position: absolute;
    right: 0px;
    background-color: black;
    width: 100%;
    margin: auto;
    height: 70px;
    padding: 15px 0px;
    /* position: absolute; */
    border-radius: 0px 0px 20px 20px;
}
.log-in{
    margin: auto;
    margin-top: 50px;
    background-color: rgb(239, 239, 239);
    width: 550px;
    height: 480px;
    border-radius: 20px;
    /* position: relative; */
}
.faq-heading{
    padding: 20px 0px;
    font-weight: bold;
}
.faqs{
    position: relative;
    width: 415px;
    height: 415;
    background-color: white;
    margin:  20px auto;
    border-radius: 20px;
}
.faqs h6, .faqs p{
    font-weight: bold;
}
.faqs p{
    font-size: 12px;
}
.footer-action-btn{
    text-decoration: none;
    background-color: white;
    padding: 7px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
    font-size: 12px;
}
.footer-para{
    font-size: 12px;
    text-align: center;
    font-weight: normal !important;
}

@media screen  and (max-width: 760px) {
    .log-in{
        width: 500px;
    }
}