body{
    font-family: 'Cabin', sans-serif;
}
.account-button{
    display: block;
    background-color: rgb(218, 217, 217);
    width: 250px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}
.account-button:hover{
    background-color: rgb(218, 217, 217);
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(239, 239, 239);
    width: 500px;
    height: 400px;
}
.signup-logo{
    margin: auto;
}
.para{
    font-size: 12px;
    font-weight: bold;
}
.params{
    font-weight: bold;
    text-align: left;
}
a{
    text-decoration: none;
    color: black ;
}